#root {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


p {
  display: block;
  color: blue;
}

.under-construction {
  color: #888;
}
